body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin:0;
}

main {
    height: 800px;
    width: 800px;
    background-color: #f1f1f1;
}

.terrain_balle {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 50px;
}

.terrain_vaisseau {
    width: 60px;
    height: 60px;
    background-color: seagreen;
    position: relative;
    top: 600px;
    left: 370px;
}

.terrain_brique {
    background-color: black;
    height: 50px;
    width: 50px;
    position: relative;
    margin:0;
    padding: 0;
}
